/* CONTACT SECTION */

.contacts {
  height: 100vh;
  background-color: #ffffff;
}

.contacts__search-form {
  margin-top: -20px;
  background-color: #ffffff;
}

.contacts__search {
  background-color: #ffffff;
}

/* Style scrollbar */

.contacts__list::-webkit-scrollbar {
  width: 5px;
}

.contacts__list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px transparent;
}

.contacts__list::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5px;
}

.contacts__list:hover::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.contacts__list:hover::-webkit-scrollbar-thumb {
  background-color: #ffffff;
}

.contact__name {
  max-width: 200px;
}

.contact__time {
  font-size: 14px;
}

.contact__from {
  max-width: 130px;
  font-size: 14px;
}

.contact__last-message {
  max-width: 160px;
  font-size: 14px;
  opacity: 0.8;
}

/* CHAT */


.chat__left-box {
  outline: none;
  background-color: #ffffff;
}

.chat__left-box:focus {
  outline: none;
}


.chat__right-img {
  background: none !important;
  outline: none !important;
  background-color: transparent !important;
  border: none !important;
}

.chat__messages-wrapper {
  margin-top: 80px;
}

.chat__message-box {
  width: 480px;
}

.chat__message {
  position: relative;
  background-color: #EFFCDE;
  border-radius: 5px 5px 5px 0;
}

.chat__message::after {
  position: absolute;
  right: 100%;
  bottom: 0;
  border-bottom: 4px solid #EFFCDE;
  border-right: 4px solid #EFFCDE;
  border-top: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
}

.chat__message-heading {
  font-size: 14px;
}

.chat__message-status {
  font-size: 14px;
  opacity: 0.7;
}

.chat__message-text {
  font-size: 15px;
}

.chat__message-time {
  font-size: 14px;
  opacity: 0.7;
}

/* EMOJIES */

.emojies {
  height: 100vh !important;
}

.emojies__item {
  font-size: 18px;
}

.sticker {
  font-size: 45px;
}

/* MODAL */
.modal-menu .modal-content {
  margin: 0;
  border-radius: 0;
  border: none;
}

.modal-content {
  max-width: 450px;
  background-color: #ffffff;
}